{
  "extends": [
    "react-app",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:mdx/recommended"
  ],
  "rules": {
    "no-unexpected-multiline": "error",
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}
