@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../shared/fonts/iAWriterMonoS-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../shared/fonts/iAWriterMonoS-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../shared/fonts/IBMPlexSerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../shared/fonts/IBMPlexSerif-Bold.woff2') format('woff2');
}
